.wrapper {
  position: relative;
  width: auto;
  height: 400vh;
  background-color: #ffffff;
}

.container-square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  min-height: 300vh;
}

.elem_one {
  background-color: #000000;
}
.elem_two {
  background-color: #000000;
}
.elem_three {
  background-color: #000000;
}

.square {
  width: 6rem;
  height: 6rem;
  position: sticky;
  top: 50%;
}

.square-active {
  position: fixed;
}

@keyframes clockwise {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(180deg);
  }
}

@media (max-width: 1280px) {
  .square {
    width: 5rem;
    height: 5rem;
  }
  .container-square {
    gap: 10rem;
  }
}

@media (max-width: 1024px) {
  .square {
    width: 4rem;
    height: 4rem;
  }
  .container-square {
    gap: 8rem;
  }
}

@media (max-width: 768px) {
  .square {
    width: 3rem;
    height: 3rem;
  }
  .container-square {
    gap: 7rem;
  }
}

@media (max-width: 480px) {
  .square {
    width: 3rem;
    height: 3rem;
  }
  .container-square {
    gap: 6rem;
  }
}

@media (max-width: 380px) {
  .square {
    width: 2rem;
    height: 2rem;
  }
  .container-square {
    gap: 5rem;
  }
}

@media (max-width: 280px) {
  .square {
    width: 2rem;
    height: 2rem;
  }
  .container-square {
    gap: 4rem;
  }
}